
.gpt3_features {
    color: #fff;
}
.gpt3_text {
    color: #81AFDD;
}

/* .underline {
    content: "";
    height: 3rem;
    position:absolute;
    border: 2px solid #FF8A71;
    transform:rotate(90deg);
    top: 75rem;
    left: 31rem;
} */


