.Features_section {
    display: flex;
    gap: 8rem;
    margin-top: 10rem;
    
}
.features_note-section {
    display: flex;
    gap: 8rem;
}
.features_heading {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.features_heading h1 {
    font-size: 32px;
    font-family: var(--font-family);
    
}
.features_heading p {
    color: #FF8A71;
}
.features_note {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.features_note h1 {
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 550;
}
.features_explain {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.features_note h1::after {
    content: "";
    border: 2px solid #F49867;
    height: 2rem;
    position: absolute;
    transform: rotate(90deg);
    margin-top: -2.2rem;
    margin-left:1.1rem ;
    opacity: 0.7;
}

@media screen and (max-width: 500px) {
    .features_explain {
        flex-direction: column;
        gap: 2.5rem;
    }
    .Features_section {
        flex-direction: column;
    }
    .features_note-section {
        flex-direction: row;
        gap: 2rem;
    }
    .features_heading {
        width: 100%;
        flex-direction: column;
    }
    
}